<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>
    <form action="/weather" method="POST">
        <input type="text" name="city" Value="College Park">
        <button type="submit">Get Weather</button>
    </form>
    <a href="/favorites">Favorites</a>
</body>
</html>
