html,body {
    min-height: 100vh;
}
body{
    background-image: url("weather.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    margin-bottom: 300px;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.favorites{
    width: 100%;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.favorites a{
    color: white;
}

.favorites h1{
    color: white;
}

.favorites li{
    color: white
}

.favorites button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #627e75;
    color: white;
}

.search input{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.search button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #627e75;
    color: white;
}
.display{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.weather{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header{
    position:fixed;
    top:0; left:0;
    width:100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.726);
    display:flex;
    justify-content: space-between;
    align-items: right;
    z-index: 100;
}

.nav a{
    color:white;
    text-decoration: none;
}

.nav-search{
    padding: 10px;
}