body{
    background-image: url("weather.jpg");
    margin:0;
}

.search{
    width: 100%;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.favorites{
    width: 100%;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.favorites a{
    color: white;
}

.favorites h1{
    color: white;
}

.favorites li{
    color: white
}

.favorites button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #627e75;
    color: white;
}

.search input{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.search button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #627e75;
    color: white;
}

.display{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.weather{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav {
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.60);
    padding: 20px;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #0D9DE3;
    color: black;
    border-radius: 5px;
}

svg {
    width: 16px;
    margin-right: 10px;

    & path {
        fill: lavender;
    }
}

.search-bar {
    border: 2px solid white;
    border-radius: 50px;
    width: 300px;
    display: flex;
    background-color: transparent;
    float: right;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    & div:not(.go) {
        display: flex;
        justify-content: start;
        align-items: center;

        & svg {
            margin-right: 10px;
        }

    }

    & input {
        background-color: transparent;
        box-shadow: none;
        border: none;
        color: white;

        &::placeholder {
            color: lavender;
            background-color: transparent;
        }

        &:focus-visible {
            border: none;
            box-shadow: none;
            background-color: transparent;
            outline: none;
        }
    }
}


.go {
    border-radius: 50px;
    background-color: transparent;
    float: right;
    padding: 5px;
    outline: none;
    display: flex;
    box-shadow: none;
    justify-content: center;
    border: none;
    cursor: pointer;

    & svg {
        margin-right: 0;
        margin: auto;

        & path {
            fill: white;
        }
    }

    &:hover {
        background-color: lightslategrey;
        transition: all 0.2s;
    }
}